<!DOCTYPE html>

{% load staticfiles %}
<html lang="en">
<head>
    <link rel="stylesheet" href="{% static 'project/css/bootstrap.min.css' %}" />
    {% block references %}{% endblock %}
    <title>{% block title %}{% endblock %} - Skydive Coaching</title>

</head>
<body>
	<div class="navbar navbar-inverse navbar-static-top">
		<div class="container">
			<div class="navbar-header">
				<button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-collapse">
					<span class="icon-bar"></span>
					<span class="icon-bar"></span>
					<span class="icon-bar"></span>
				</button>
				<a>Skydive Coaching</a>
			</div>
			<div class="navbar-collapse collapse">
				<ul class="nav navbar-nav">
					<li><a href="{% url 'project:Home' %}">Home</a></li>
					{% if user.username %}
					<li><a href="{% url 'project:Jumps' %}">Jumps</a></li>
					{% endif %}
					<li><a>Skills</a></li>
					<li><a>Contact</a></li>
				</ul>
				<ul class="nav navbar-nav navbar-right">
					{% if user.username %}
					<li><a href="{% url 'project:UserProfile' user.userprofile.id %}">{{ user.username }}</a></li>
					<li><a href="{% url 'project:Logout' %}">Logout</a></li>
					{% else %}
					<li><a href="{% url 'project:Login' %}">Login</a></li>
					<li><a href="{% url 'project:Register' %}">Register</a></li>
					{% endif %}
				</ul>
			</div>
		</div>
	</div>
    <div class="container">
        {% block content %}{% endblock %}
        <hr />
        <footer>
        	<p>&copy; {% now "Y" %} - Sam Doughty</p>
        </footer>
    </div>
</body>

{% block jquery %}{% endblock %}
</html>