{% extends "master.html" %}

{% block title %}Home{% endblock %}

{% block content %}
<div class="container">
	<div class="col-lg-8">
		<br />
		<iframe src="//player.vimeo.com/video/96571020?color=0000AA" width="700" height="394" frameborder="0"></iframe>
	</div>

	<div class="col-lg-4">
		<h3> About Skydive Coaching Website</h3>

		<p>
			This website was designed to help make it easier for new Skydivers to find information about Coaching, find Coaches and progress quickly.
			The aim is to provide a central location for videos, feedback and general tips that can help any student.
			It also allows coaches to better understand your flying ability before any jumps, meaning that their coaching can be more tailored to you.
			Finally with the signup system, we can provide information to students, coaches and dropzones about who is available.
			Hopefully restricting the number of days with students stuck on the groud not jumping as they don't have a coach and allowing people to experience a vast number of disciplines.
		</p>
	</div>
</div>
{% endblock %}