{% extends "master.html" %}

{% load staticfiles %}

{% block references %}
{{block.super}}
<link rel="stylesheet" href="{% static 'project/css/carousel.css' %}" />
{% endblock %}

{% block title %}Jumps{% endblock %}

{% block content %}
<div class="container marketing">
	{% for item in jumps %}
	<div class="row featurette">
		<div class="col-md-7">
			<h2 class="featurette-heading"><a href="{% url 'project:Jump' item.id %}">{{ item.ShortDescription }}</a></h2>
			<p class="lead">
				{{ item.TheDescription }}
			</p>
		</div>
		<div class="col-md-5">
			{% if item.VideoResourceID %}
			<img class="featurette-image img-responsive center-block" data-src="holder.js/500x500/auto" alt="500x500" 
			src="http://img.youtube.com/vi/{{ item.VideoResourceID.URL }}/0.jpg" data-holder-rendered="true">
			{% else %}
			<img class="featurette-image img-responsive center-block" data-src="holder.js/500x500/auto" alt="500x500" src="data:image/svg+xml;base64,PD94bWwgdmVyc2lvbj0iMS4wIiBlbmNvZGluZz0iVVRGLTgiIHN0YW5kYWxvbmU9InllcyI/PjxzdmcgeG1sbnM9Imh0dHA6Ly93d3cudzMub3JnLzIwMDAvc3ZnIiB3aWR0aD0iNTAwIiBoZWlnaHQ9IjUwMCIgdmlld0JveD0iMCAwIDUwMCA1MDAiIHByZXNlcnZlQXNwZWN0UmF0aW89Im5vbmUiPjxkZWZzLz48cmVjdCB3aWR0aD0iNTAwIiBoZWlnaHQ9IjUwMCIgZmlsbD0iI0VFRUVFRSIvPjxnPjx0ZXh0IHg9IjE5MC4zMTI1IiB5PSIyNTAiIHN0eWxlPSJmaWxsOiNBQUFBQUE7Zm9udC13ZWlnaHQ6Ym9sZDtmb250LWZhbWlseTpBcmlhbCwgSGVsdmV0aWNhLCBPcGVuIFNhbnMsIHNhbnMtc2VyaWYsIG1vbm9zcGFjZTtmb250LXNpemU6MjNwdDtkb21pbmFudC1iYXNlbGluZTpjZW50cmFsIj41MDB4NTAwPC90ZXh0PjwvZz48L3N2Zz4=" data-holder-rendered="true">
			{% endif %}
		</div>
	</div>
	{% if not forloop.last %}
	<hr class="featurette-divider">
	{% endif %}
	{% endfor %}
</div>
{% endblock %}