{% extends "master.html" %}

{% load staticfiles %}

{% block references %}
{{block.super}}
<link rel="stylesheet" href="{% static 'project/css/signin.css' %}" />
{% endblock %}

{% block title %}Login{% endblock %}

{% block content %}
<form action="{% url 'project:Login' %}" class="form-signin" method="post">
	{% csrf_token %}

	<h2 class="form-signin-header">Please sign in</h2>
	<input type="text" class="form-control" placeholder="Username" name="{{ form.username.html_name }}" >
	<input type="password" class="form-control" placeholder="Password" name="{{ form.password.html_name }}">
	<div class="checkbox">
		<label>
			<input type="checkbox" value="remember-me" name="{{ form.remember.html_name }}">Remember me
		</label>
	</div>
	<button type="submit" class="btn btn-lg btn-primary btn-block">Login</button>
</form>

{% for field in form %}
    <div class="fieldWrapper">
        {{ field.errors }}
    </div>
{% endfor %}
{{ form.non_field_errors }}
{% endblock %}