{% extends "master.html" %}

{% block title %}{% endblock %}

{% block content %}
<div class="container">
	<dl>
		<dt>Username</dt>
		<dd>{{ userprofile.UserID.username }}</dd>
	</dl>
	<dl>
		<dt>First Name</dt>
		<dd>{{ userprofile.UserID.first_name }}</dd>
	</dl>
	<dl>
		<dt>Last Name</dt>
		<dd>{{ userprofile.UserID.last_name }}</dd>
	</dl>
	<dl>
		<dt>Email</dt>
		<dd>{{ userprofile.UserID.email }}</dd>
	</dl>
	<dl>
		<dt>Jump Number</dt>
		<dd>{{ userprofile.JumpNumber }}</dd>
	</dl>
	<dl>
		<dt>Active</dt>
		<dd>{{ userprofile.UserID.is_active }}<dd>
	</dl>
</div>
{% endblock %}